<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>Milling Machine Failure Prediction</title>
    <!-- Include ApexCharts Library -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>
  <body>
    <!-- Header -->
    <div class="dashboard-container">
      <!-- Input Panel -->
      <div class="input-panel">
        <h2 style="color: #4a90e2">⚙️ MachineCheck Pro</h2>
        <form method="POST" action="">
          {{ form.hidden_tag() }}

          <label for="airTemp">Air Temperature (K):</label>
          {{ form.Air_temp(class_="form-control") }}

          <label for="processTemp">Process Temperature (K):</label>
          {{ form.process_temp(class_="form-control") }}

          <label for="rotationalSpeed">Rotational Speed (rpm):</label>
          {{ form.Rotational_speed(class_="form-control") }}

          <label for="torque">Torque (Nm):</label>
          {{ form.Torque(class_="form-control") }}

          <label for="toolWear">Tool Wear (min):</label>
          {{ form.Tool_wear(class_="form-control") }}

          <button type="submit" class="submit-btn">Check</button>
        </form>
      </div>

      <!-- Results Panel -->
      <div class="results-panel">
        <h2>Results & Analytics</h2>
        <div class="results-status">
          <div class="status-box">
            <h3>Status:</h3>
            <span class="status-box-value" id="status">{{status}}</span>
          </div>
          <div class="status-box">
            <h3>Failure Probability:</h3>
            <span class="status-box-value" id="Failure-proba"
              >{{predicted_probability}}%</span
            >
          </div>
          <div class="status-box">
            <h3>Power:</h3>
            <span class="status-box-value" id="power">{{power}}W</span>
          </div>
          <div class="status-box">
            <h3>Temperature Diff:</h3>
            <span class="status-box-value" id="tempDiff"
              >{{temperature_diff}}</span
            >
          </div>
        </div>
        <!-- Charts Container -->

        <div id="chartsContainer">
          <div id="featureImportanceChart"></div>
          <!-- <div id="rotationalSpeedVsTorqueChart"></div> -->
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
